body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border: 1px solid #000000;
}

.corner {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 1px solid #000000;
}

.top-left {
    /* top: 0; */
    /* left: 0; */
}

.top-right {
    /* top: 0; */
    right: 0;
}

.bottom-left {
    bottom: 0;
    /* left: 0; */
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}