@font-face {
    font-family: handwrite;
    src: url(fonts/ShortStack-Regular.ttf);
}

/* stock font */
#p1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

/* linked google font */
#p2{
    font-family: poppins;
}

/* downloaded google font */
#p3{
    font-family: handwrite;
}

/* border */
h1{
    border: 4px solid red;
    border-radius: 15px;
}
#p1{
    border-bottom: 5px dotted yellowgreen;
    border-left: 5px dashed pink;
    border-right: 5px double black;
    border-top: 5px inset violet;
    border-radius: 15px;
}