body{
    margin: 0px;
}
div{
    height: 250px;
    width:250px;
    font-size: 5em;
}
.d1{
    background-color: antiquewhite;
    border:5px solid ;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
}

.d2{
    background-color: palegoldenrod;
    border:5px solid ;
    margin-top: 1% ;
}