#b1{
    background-color: crimson;
    color: white;
    height: 250px;
    width: 250px;
    border-radius: 15px;
    font-size: 13em;
    text-align: center;
    /* animation-timing-function: steps(8); */

    animation-name: slideleft;
    animation-duration: 4s;

}
#b1:hover{
    animation-name: rotate;
    animation-duration: 4s;
}
#b1 img{
    height: 100%;
}

@keyframes slideUp {
    from{transform: translateY(100%);}
}
@keyframes slideDown {
    to{transform: translateY(100%);}
}
@keyframes rotate {
    50%{transform: rotate(360deg);}
}
@keyframes slideleft {
    from{transform: translateX(400%);}
}