<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Layout</title>
</head>

<body>
    <header>
        <h2>Header</h2>
    </header>
    <nav>

    </nav>
    <main>
        <aside>
            <h4>this is aside</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus nihil dignissimos eaque quibusdam eius quis dolore ipsum error numquam! Unde numquam deserunt maiores quidem at perspiciatis ullam ipsa impedit? Tenetur?</p>
        </aside>
        <section>
            <h4>this is section</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae amet quas nihil magnam obcaecati? Eveniet vitae tempora veritatis? Rem numquam repellat error eveniet aut odit velit amet illum? Autem, odio?</p>
        </section>
        <article>
            <h4>this is article</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit voluptatem consequuntur eum, minima atque, deleniti ducimus neque hic beatae ipsa molestiae sunt. A reprehenderit itaque optio molestias eveniet consectetur facilis.</p>
        </article>
    </main>
    <footer>
        <h2>Footer</h2>
    </footer>
</body>

</html>