<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
    <title>Document</title>
</head>

<body>

    <ul class="menu-bar">
        <li>Papertrail</li>
    </ul>
    <ul class="menu-bar">
        <li>Watch Now</li>
        <li>Movies</li>
        <li>TV Shows</li>
        <li>Sports</li>
        <li>Kids</li>
        <li>Library</li>
    </ul>
    <ul class="menu-bar">
        <li>Sign Out</li>
    </ul>
    <script>
        function hello() {
            document.getElementById('id').innerText = "hello";
        }
    </script>
</body>

</html>